@page "/pippette/View"

@inject PippetteDataService PippetteDataService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="modal-header">
    <h3>View Pippettes</h3>
</div>

@if (pippettes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Model Name</th>
                <th>Serial Number</th>
                <th>Usage Frequency</th>
                <th>Location</th>
                <th>Manufacture</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @if (pippettes != null)
            {
                @foreach (var pippette in pippettes)
                {
                    <tr>
                        <td>@pippette.ModelName</td>
                        <td>@pippette.SerialNumber</td>
                        <td>@pippette.UsageFrequency</td>
                        <td>@pippette.Location_Name</td>
                        <td>@pippette.Manufacture_Name</td>
                        <td>@pippette.Pippette_User_Name</td>
                        <td>
                            <NavLink class="nav-link" href="pippette/add">
                                <span class="oi oi-plus" aria-hidden="true"></span>
                            </NavLink>
                        </td>
                        <td>
                            <NavLink class="nav-link" href="" @onclick="@(e=> EditRow(e, pippette.SerialNumber))">
                                <span class="oi oi-pencil" aria-hidden="true"></span>
                            </NavLink>
                        </td>
                        <td>
                            <NavLink class="nav-link" href="" @onclick="@(e=> DeleteRow(e, pippette.SerialNumber))">
                                <span class="oi oi-minus" aria-hidden="true"></span>
                            </NavLink>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<div class="modal-content">
    <button type="button" @onclick="@FetchAuditLogs">FetchLogs</button>
</div>

@code {
    private List<PippetteDataDto> pippettes;

    protected override async Task OnInitializedAsync()
    {
        pippettes = await PippetteDataService.GetPippettesAsync();
    }

    private async Task EditRow(MouseEventArgs e, string serialNumber)
    {
        var pippetteId = await PippetteDataService.GetPippetteIdAsync(serialNumber);
        NavigationManager.NavigateTo($"/pippette/edit/{pippetteId}");
    }

    private async Task DeleteRow(MouseEventArgs e, string serialNumber)
    {
        var pippetteId = await PippetteDataService.GetPippetteIdAsync(serialNumber);
        NavigationManager.NavigateTo($"/pippette/delete/{pippetteId}");
    }

    private async Task FetchAuditLogs()
    {
        var logs = await JSRuntime.InvokeAsync<object>("FetchLogs", "0");
        var auditlog = JsonSerializer.Deserialize<Dictionary<string,object>>(logs.ToString());

        var datetimestamp = auditlog["datetimestamp"];
        var user = auditlog["user"];
        var change = auditlog["change"];
        var oldvalue = auditlog["oldvalue"];
        var newvalue = auditlog["newvalue"];
        
    }
}
